@model IEnumerable<LeelosBookstoreAndLibrary.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Search form -->
<form method="get" action="@Url.Action("Index")">
    <input type="text" name="searchQuery" placeholder="Search by title, author, or genre..." value="@Request.QueryString["searchQuery"]" />
    <input type="submit" value="Search" />
</form>

@if (!string.IsNullOrEmpty(Session["UserId"]?.ToString()) && (int)Session["UserRole"] == 2)
{
    <p>
        @Html.ActionLink("Create New", "AddBook")
    </p>
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>Author</th>
        <th>@Html.DisplayNameFor(model => model.Genre)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Genre)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>
                @Html.ActionLink("Details", "BookDetails", new { id = item.Id }) 

                <br />

                @if (!string.IsNullOrEmpty(Session["UserId"]?.ToString()) && (int)Session["UserRole"] == 2)
                {
                    @Html.ActionLink("Edit", "EditBook", new { id = item.Id })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
     }
</table>
